body {
	font-family: "Montserrat", sans-serif;
	text-align: center;
}

h1 {
	font-weight: 900;
	font-family: "Ubuntu";
	font-size: 3.5rem;
	margin-top: 2%;
}

p {
	font-size: 1.2rem;
}

/* Title Section */
#title .container-fluid {
	padding: 0 10% 3%;
}

.row {
	margin-top: 5%;
}

.container-fluid {
	padding: 1% 10% 7%;
}

.colored-section {
  background-color: black;
  color: white;
}

/* Navigation Bar */
.navbar {
	padding: 1.5rem 1.5rem;
}

.navbar-brand {
	font-family: "Ubuntu";
	font-size: 2rem;
	font-weight: 900;
}

.brand-logo {
	margin: 0 1rem;
}

.nav-item {
	padding: 0 18px;
}

.nav-link {
	font-size: 1.2rem;
}

.contact-icon {
	margin-left: 1px;
}

/*Profile Section*/
.profile-photo {
	border-radius: 100%;
	height: 254px;
	width: 254px;
}

/* Portfolio Section */
.anime {
	opacity: 0;
	transform: translate3d(-100px, 0, 0);
	transition: .3s;
}

.anime-title {
	opacity: 0;
	transform: translate3d(0, -100px, 0);
	transition: 1s;
}

.anime-start {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

/*Footer Section*/
.icon {
	height: 30px;
	width: 30px;
}

@media (max-width: 991px) {
	.about-text {
		margin-top: 10%;
	}
}

@media (max-width: 490px) {
	.navbar-toggler {
		margin: 0 auto;
	}

	.navbar-brand {
		margin: 0 auto;
	}
}
