body {
	font-family: "Montserrat", sans-serif;
	text-align: center;
}

/* Title Section */
.container-fluid {
	padding: 1% 10% 7%;
}

/* .colored-section {
  background-color: black;
  color: white;
} */

/* Navigation Bar */
.navbar {
	padding: 0 0 3.5rem;
}

.navbar-brand {
	font-family: "Ubuntu";
	font-size: 2rem;
	font-weight: 900;
}

.brand-logo {
	margin: 0 1rem;
}

.nav-item {
	padding: 0 18px;
}

.nav-link {
	font-size: 1.2rem;
}

/*Profile Section*/
.name {
	font-weight: 900;
	font-family: "Ubuntu";
	font-size: 3.5rem;
	margin-top: 1%;
}

.profile-photo {
	border-radius: 100%;
}
